/* Place CSS styles here */
body {
     background: #466368;
    background: -webkit-linear-gradient(#648880, #937ec7);
    background:    -moz-linear-gradient(#648880, #937ec7);
    background:         linear-gradient(#648880, #937ec7);
    color:#110423;
    font-family:monospace;
    margin: 0px 40px 40px 40px;
    padding: 10px;
}

header {
        background-color: #e98585;
        color: black;
        font-family:'Times New Roman';
    }
.KOTA {
    padding: 10px; 
}
.row {
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin: 10px 0 10px 0;
}
.Skills {
    padding: 10px;
}
.sndrow {
       display: flex;
       flex-direction: row;
       padding: 10px;
       margin: 10px 0 10px 0;
}