/* Place CSS styles here */
body {
     background: #466368;
    background: -webkit-linear-gradient(#648880, #937ec7);
    background:    -moz-linear-gradient(#648880, #937ec7);
    background:         linear-gradient(#648880, #937ec7);
    color:#110423;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 10% 0px 10%;
    padding: 10px;
    max-width: 80%;
    border-right: 6px solid #ffffff;
    border-left: 6px solid #ffffff;
}
.main {
    background: -webkit-linear-gradient(#937ec7, #648880);
    background:    -moz-linear-gradient(#937ec7, #648880);
    background:         linear-gradient(#937ec7, #648880);
    padding: 10px;
    border: 4px dotted #ffffff;
}

header {
        background-color: #e98585;
        color: black;
        font-family:'Times New Roman';
    }
.KOTA {
    padding: 10px; 
}
.row {
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin: 10px 0 10px 0;
        gap: 20px;
}
.Skills {
    padding: 10px;
}
.sndrow {
       display: flex;
       flex-direction: row;
       padding: 10px;
       margin: 10px 0 10px 0;
       gap: 20px;
}
.Objectives {
    width: 60%;
}
.Extracariculars {
    width: 60%;
}
h3 {
    font-size: 25px;
}